body {background: #333; }

#page-wrap:after { contet: "Smartphone Layout"; }

h2 span, section h3  , label.rem       { display:none ; }
body   { font-size:xx-large;}
input, button {font-size:xx-large;}
nav{height:350px;}
section{height:350px;}
footer           { font-size: large; }
.quiz_img { float: none; }